node_modules
/research
/.build-tools
/.build-tmp
/.compiler-work
/.compiler-cabal
/.compiler-meta
/.compiler-toolchain
/.browser-tmp
/.wrangler
/*.deb
/quietui.tar.gz

# build output
/build
/.svelte-kit

# env
.env
.env.*
!.env.sample

# Vite
vite.config.js.timestamp-*
